body {
  
   width: 80%; /* Puedes ajustar el ancho según tus necesidades */
   margin-left: auto;
   margin-right: auto;
   margin: 0 auto; /* Centrar horizontalmente utilizando márgenes automáticos */
   
   justify-content: center;
  align-items: center;
 }
 
 .container {
   width: 80%; /* Puedes ajustar el ancho según tus necesidades */
   height: 50%;
   padding: 30px; /* Agregar un espacio interno de 20 píxeles */
   justify-content: center;
  align-items: center;
    }
    .header {
      height: 500px;
    }
 
    .formulario{
      height: 800px;
      background: linear-gradient(180deg, #3d88dd ,  #fd7e14);
    }

  .img-logo {
   text-decoration: none !important;
   width: 3% !important;
   height: 3%;
 }
 .logo {
   position: relative;
   left: 30px;
   display: flex;
   display: grid;
   justify-content: space-between;
   max-width: 992px;
   text-decoration: none;
 }
 .logo > h1 {
   color: black;
   padding-left: 30px;
 }
 .logo > h1 > span {
   color: #fd7e14 !important;
 }
 .textos-about-us .parrafo {
   margin-top: 10px;
   color: #fd7e14 ;
   position: center;
 }
 
  


 
  